# User-specific files
*.user
*.suo
*.userprefs

# User Settings
UserSettings/

# Unity generated folders
Library/
Temp/
Build/
Builds/
obj/
bin/

# Build and temporary files
*.log
*.bak
*.tmp
*.exe

# Visual Studio and IDE-specific files
.vs/
.idea/
.vscode/

# Visual Studio Code specific settings
.vscode/

# Package Manager
Packages/

# Configuration files (optional, if sensitive)
*.env

# Dotnet files
*.csproj
*.unityproj
*.sln
